/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root */

:root {
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #f5f5f5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-magenta: #61082b;
    --color-logo-cyan: #0093ce;
    --color-logo-orange: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
}

/* generals */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px;
}

/* page macro */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
}


/* containers  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}


/* utilities */

.debug {
    border: 1px solid red;
}

/* flex */

.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}


