/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root */

:root {
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #f5f5f5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-magenta: #61082b;
    --color-logo-cyan: #0093ce;
    --color-logo-orange: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
}

/* utilities */

/* .debug {
    border: 1px solid red;
} */

/* generals */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px;
    color: inherit;
    vertical-align: middle;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 4em;
    font-weight: 1000;
    margin-bottom: 50px;
}


p {
    margin-bottom: 30px;
}

img {
    width: 100%;
    display: block;
}

/* page macro */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
}

footer {
    background-color: black;
    color: white;
}

#jumbortron {
    padding-top: 170px;
}

#jumbotron .container, 
#sub-plans .container-small, 
#contact-partner .container-small,
#operations .container,
#customers .container-small,
#faq .container-small 
/* footer .container*/ { 
    position: relative;
    top: 100px;
}

/* containers  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.img {
    max-width: calc(100% / 3);

}

.customers-brands>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand {
    width: 50%;
    height: 50%;
}

.btn {
    padding: 5px 10px;
    display: inline;
}

/* background */

.bg-light {
    background-color: var(--color-light-blue);
}

.bg-blue {
 background-color: var(--color-blue);
}

/* colors */

.text-white {
    color: var(--color-white);
}
/* space */

.p-15 {
    padding: 15px;
}

.p-top {
    padding-top: 30px;
}
.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* flex */

.d-flex {
    display: flex;
}

.row-rev {
    flex-direction: row-reverse;
}

.c-flex {
    flex-direction: column;
}

.s-between {
    justify-content: space-between;
}

.a-items {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}

/* span */

.arrow {
    font-size: 3em;
    margin-top: 100px;
    display: inline-block;
}